@import "tailwindcss";

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.active {
  @apply text-white;
}

.inactive {
  @apply text-white/50;
}

button {
  cursor: pointer;
}
